{{ define "main_member_menu" }}
<nav class="blue">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">MyCloud</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        {{ range .menu }}
          <li><a href="{{ .ItemLink }}">{{ .ItemName }}</a></li>
        {{ end }}

        <li><a class="dropdown-trigger" href="#!" data-target="userMenu">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><div class="user-view">
          <div class="background">
            <img src="/assets/bg.jpg">
          </div>

          <a href="#user"><img class="circle" src="/assets/profiles/admin.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>

    {{ range .menu }}
      <li><a href="{{ .ItemLink }}"><i class="material-icons left">{{ .ItemIcon }}</i> {{ .ItemName }}</a></li>
    {{ end }}
  </ul>

  <ul id="userMenu" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
  </ul>
{{ end }}