{{ define "main_page.tmpl" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .title }}</title>

    {{ template "header_imports" }}
</head>

{{ if .isAuthPage }}
<body>
{{ else }}
<body class="blue darken-4">
{{ end }}

  {{ if .isAuthPage }}
  {{ template "main_member_menu" . }}
  {{ end }}

  {{ if eq .page "index" }}
  {{ template "index/index.tmpl" . }}
  {{ else if eq .page "dashboard" }}
  {{ template "member/dashboard/index.tmpl" . }}
  {{ else }}
  {{ template "errors/404.tmpl" . }}
  {{ end }}

  {{ template "loading" }}
  {{ template "footer" }}
</body>
</html>
{{ end }}