{{ define "member/myfiles/index.tmpl" }}
<div class="row">
    <div class="col s12 m2">
        <div class="card z-depth-2" style="height: 57em;">
            <span class="card-title">Explorer Options</span>
            <div class="divider" style="margin-bottom:10%"></div>

            <div class="row">
                <div class="col s12 m12">
                    <button id="refreshList" class="waves-effect waves-light btn light-blue darken-1 full-width"><i
                            class="material-icons left">cached</i> Refresh</button>
                </div>
            </div>
 

            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn light-blue darken-1 full-width modal-trigger" data-target="uploadFileModal"><i
                            class="material-icons left">cloud_upload</i> Upload</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn light-blue darken-3 full-width modal-trigger" data-target="newDirModal"><i
                            class="material-icons left">create_new_folder</i> Make Directory</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button id="editName" class="disabled waves-effect waves-light btn orange darken-1 full-width"><i class="material-icons left">create</i> Edit
                        Name</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button id="removeItems" class="disabled waves-effect waves-light btn red darken-1 full-width"><i class="material-icons left">delete</i>
                        Remove</button>
                </div>
            </div>
        </div>
    </div>


    <div class="col s12 m10">
        <div class="card" style="height: 57em;">
            <div class="card-content black-text">
                <span class="card-title">My Files</span>

                <table id="fileExplorerTable" class="highlight striped responsive-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody id="fileExplorer"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ template "member/myfiles/modal_new_dir.tmpl" }}
{{ template "member/myfiles/modal_upload_file.tmpl" }}
{{ template "member/myfiles/modal_confirm_delete.tmpl" }}
{{ template "member/myfiles/modal_edit_name.tmpl" }}

<script src="/assets/myfiles/index.js"></script>
{{ end }}