{{ define "member/myfiles/index.tmpl" }}
<div class="row">
    <div class="col s12 m2">
        <div class="card z-depth-2">
            <span class="card-title">Explorer Options</span>
            <br>

            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn light-blue darken-1"><i
                            class="material-icons left">cloud_upload</i> Upload</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn light-blue darken-3"><i
                            class="material-icons left">create_new_folder</i> Make Directory</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn orange darken-1"><i class="material-icons left">create</i> Edit
                        Name</button>
                </div>
            </div>
        
            <div class="row">
                <div class="col s12 m12">
                    <button class="waves-effect waves-light btn red darken-1"><i class="material-icons left">delete</i>
                        Remove</button>
                </div>
            </div>
        </div>
        </div>


    <div class="col s12 m10">
        <div class="card">
            <div class="card-content black-text">
                <span class="card-title">My Files</span>

                <table id="fileExplorerTable" class="highlight striped responsive-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Options</th>
                        </tr>
                    </thead>

                    <tbody id="fileExplorer"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/assets/myfiles/index.js"></script>
{{ end }}