{{ define "member/myfiles/modal_preview.tmpl" }}
<!-- Modal Preview Structure -->
<div id="previewModal" class="modal modal-myfiles">
    <div class="modal-content">
        <h4 id="modalFileName"></h4>

        <div class="row">
			<h3>FILE PREVIEW MODAL</h3>
        </div>
    </div>

    <div class="modal-footer">
        <a id="closePreviewBtn" href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
{{ end }}
